body{
  font-family: sans-serif;
  font-size: 14px;
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}

h2{
  font-family: monospace;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.function-tag{
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
}

li{
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

label{
  display: block;
  font-size: 20px;
}

label + label{
  margin-top: 20px;
}

input[type=text]{
  width: 800px;
  font-size: 20px;
  padding: 2px;
  font-family: monospace;
}

textarea{
  width: 800px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit]{
  font-size: 20px;
}

.main-title{
  display: block;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
  color: #333;
}

.post + .post{
  margin-top: 15px;
}

.post-heading{
  position: relative;
  border-bottom: 3px solid;
}

.post-title{
  font-size: 24px;
  font-weight: bold;
}

.post-date{
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #999;
}

.post-content{
  font-size: 18px;
  margin-top: 5px;
}

p{
  font-size: 20px;
}
